*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eef1f3;
    color: #1d1d1d;
    line-height: 1.6;
}

.site-header {
    background: white;
    border-bottom: 1px solid #e0e0e0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-inner {
    max-width: 1000px;
    margin: auto;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.4rem;
    font-weight: 600;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #1d1d1d;
    font-size: 0.95rem;
}

.nav a:hover {
    color: #156064;
}

main{
    width: 100%;
    height: 90%;
    background-color: white;
    padding: 25px;
    flex: 1;
    margin: 10px;
}

.content {
    flex: 1;
}

.layout {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
}

.primary {
    background: white;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.primary h2 {
    margin-bottom: 10px;
}

.card {
    background: rgb(246, 248, 248);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card h4 {
    margin-bottom: 4px;
}

hr{
    margin: 5px 0px;
}

.card hr{
    margin-bottom: 8px;
}

footer {
    text-align: center;
    position: relative;
    bottom: 0;
    padding: 0px 20px 15px 20px;
    font-size: 0.85rem;
    color: #666;
}

.top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 50px;
    border-radius: 20%;
    background-color: white;
    color: #1d1d1d;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.18s, background-color 0.18s;
}

.top:hover{
  background-color: #f9fafc;
  transform: translateY(-2px);
}

.codeblock {
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    margin: 10px 5px;
    border-radius: 4px;
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.15;
    color: #000000;
    overflow-x: auto;
    padding: 12px;
}

code .keyword{
    color: #0E00FF;
}

code .string{
    color: #AA04F9 ;
}

code .comment{
    color: #028009 ;
}

.dropdown-label {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  padding: 5px 10px;
  cursor: pointer;
}

label::after {
  content: '▽';
  margin-left: 10px;
  font-size: 0.75em;
  transition: transform step-start;
  line-height: 1;
}

.hidden {
    display: none;
}

.dropdown {
    display: none;
}

.hidden:checked ~ .dropdown{
    display: block;
}

.hidden:checked + label::after {
  transform: rotate(180deg);
}